<div class="container">
  <ng-container *ngFor="let param of params; let i = index">
    <div class="name">{{param.id}} - {{param.data.gset}}
      <button class="remove" mat-button matSuffix mat-icon-button title="Удалить" (click)="deleteParam(i)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
    <table>
      <tbody>
      <tr *ngFor="let set of param._set; let j = index">
        <td>
          <mat-chip-list>
            <mat-chip>{{set}}</mat-chip>
          </mat-chip-list>
        </td>
        <td>
          <mat-form-field>
            <input matInput class="input" [(ngModel)]="param.data.values[j]" (change)="save(param)">
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>

<button mat-raised-button color="primary" (click)="addNew()">Новый</button>
